<!DOCTYPE html>
<html>
  <head>
    <title>Dot Matrix</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="dotmatrix.css">
  </head>
  <body>
    <h1>Dot Matrix</h1>
    <p>Drop an image onto the box below to create a colour dot matrix version.</p>

    <div id="app">
      <matrix
        :background-color="backgroundColor"
        :image-size="detail"
        :dot-size="dotSize"
        :grid-size="gridSize"
        :shrink-to-fit="shrinkToFit"
        @has-image="hasLoadedImage = true"
        @previewing="hasLoadedImage = false"
        @no-preview="hasLoadedImage = true"
        @size-change="updateSize"
        ref="matrix"
      ></matrix>

      <form>
        <div class="form-controls" :class="{ disabled: !hasLoadedImage }">
          <fieldset>
            <legend>Image Controls</legend>
            <label><span class="label-text">Detail</span>
              <input type="range" min="2" max="100" v-model.number="detail">
              <input type="number" min="2" max="100" v-model.number="detail"> dots
            </label>
            <label><span class="label-text">Grid size</span>
              <input type="range" min="1" max="200" v-model.number="gridSize" @input="gridSizeChange">
              <input type="number" min="1" max="200" v-model.number="gridSize" @input="gridSizeChange"> pixels
            </label>

            <label class="connect-controls" title="Link grid and dot sizes">} <input type="checkbox" v-model="connectSizes" @change="connectChange"></label>

            <label><span class="label-text">Dot size</span>
              <input type="range" min="1" max="200" v-model.number="dotSize" @input="dotSizeChange">
              <input type="number" min="1" max="200" v-model.number="dotSize" @input="dotSizeChange"> pixels
            </label>

            <label><span class="label-text">B/g opacity</span>
              <input type="range" min="0" max="100" v-model.number="alphaPercent">
              <input type="number" min="0" max="100" v-model.number="alphaPercent"> %
            </label>

            <label class="break-float"><input type="checkbox" v-model="shrinkToFit">
              <span class="label-text">Shrink to fit</span>
          </fieldset>

          <fieldset class="picker">
            <legend>Background Colour (HSL: {{hue}}&deg;, {{saturation}}% {{luminance}}%)</legend>
            <color-picker @change="setHSL"></color-picker>
          </fieldset>

          <fieldset class="save">
            <button type="button" @click="saveImage">Render image for saving</button>
            <p>Note: in Chrome you can right-click the canvas and save from it directly.</p>
          </fieldset>
        </div>
      </form>

      <div v-if="hasLoadedImage" class="dimensions">Output size: {{ outputWidth }} &times; {{ outputHeight }} pixels</div>
    </div>

    <!-- templates -->

    <template id="template-color-picker">
      <div class="color-picker">
        <canvas class="color-picker--lum-sat" width="100" height="100" @mousedown="lumSatInput "@mousemove="lumSatInput" ref="lumSatCanvas"></canvas>
        <canvas class="color-picker--hue" width="360" height="1" @mousedown="hueInput" @mousemove="hueInput" ref="hueCanvas"></canvas>
      </div>
    </template>

    <template id="template-matrix">
      <div class="matrix"
        :class="{ 'shrink-to-fit': shrinkToFit, 'is-dragging': isDragging, 'is-previewing': !!renderedImage, 'has-image': !!image }"
        @dragover="handleDragOver"
        @dragenter="startDragging"
        @dragleave="stopDragging"
        @drop.stop.prevent="loadImageFromDrop"
        ref="container"
      >
        <canvas
          :style="{ 'background-color': backgroundColor, 'left': marginLeft, 'top': marginTop, transform: canvasTransform }"
          width="500"
          height="500"
          ref="output"
        ></canvas>
        <image-viewer :image="renderedImage" @close="destroyImage"></image-viewer>
      </div>
    </template>

    <template id="template-image-viewer">
      <div class="image-viewer" :class="{ visible: visible }">
        <div class="dialog">
          <h2>Image Preview</h2>
          <figure ref="imageHolder"></figure>
          <p>Right-click the image and choose Save Image.</p>
          <button type="button" @click="$emit('close')">Done</button>
        </div>
      </div>
    </template>

    <script src="vue.min.js"></script>
    <!-- <script src="vue.js"></script> -->
    <script src="dotmatrix.js"></script>
  </body>
</html>

